* {
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* *,
*:before,
*:after {
    box-sizing: inherit;
} */

/* body {
    background-color: #99a10050;
    background-color: #00030050;
    background-image: linear-gradient(to right, #01022d, #000);
    background: linear-gradient(to right, #000004e5, #06040478 30%),url(image/pexels-adria-masi-461420600-27962178.jpg) ;
    background-color: #dad3f8;
    /* background: linear-gradient(#111, #222); */
/* background-image: linear-gradient(to left, #dfdf68, #d5d8); */
/* } */


:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very1-dark-grayish-blue: hsl(217, 19%, 35%);
    --very2-dark-grayish-blue: hsl(217, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-gray-blue12: hsl(210, 46%, 95%);
    /* background: #f7f7f7; */
}


/* body {
    background-color: var(--moderate-violet);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
 } */

body{
    background:#ae445a ;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(30% at left 20%);
    background:linear-gradient(135deg, #f5416c 50% , #ff9a9a 70%) ;
    z-index: -1;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(30% at right 80%);
    background:linear-gradient(135deg,  #ff9a9a 50% , #f5416c 70%) ;
    z-index: -1;
}


.page{
    width: 80%;
    height: 80%;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 20px;
    position: relative;
    z-index: 12;
}
.page header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page header p{
    font-size: 24px;
    font-weight: 550;
    cursor: pointer;
    color: black;
}
.page header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 370px;
}
.page header ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    font-weight: 550;
    transition: .3s;
}
.page header ul li a:hover{
    color: #fff;
}
.page header form input {
    padding:7px 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background:linear-gradient(135deg,  #ff9a9a , #f5416c) ;
    font-size: 16px;
    margin: 0 8px;
    transition: .3s;
}
.page header form input:hover {
    transform: scale(.90);
}


.page section{
    width: 40%;
    margin: 155px 0 0 ;
}
.page section h1{
    margin-bottom: 10px;
    text-transform: capitalize;
}
.page section p{
    width: 500px;
}



.bottom{
    position: absolute;
    bottom: 22px;
    right: 33px;
    
}
.bottom span{
    position: relative;
}
.bottom span::before{
    content: "  ";
    position: absolute;
    width: 70px;
    height: 4px;
    background-color: black;
    display: flex;
    align-items: center;
    top: 8px;
    left: -82px;    

}

.bottom i{
    border: 2px solid black;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 4px;
}















